{% extends "base.html" %}

{% block content %}
	<div class="wrapper">
	<div> 
	<h1>Вызовы</h1>
	</div>
    <div class="table-wrapper">
	<table class="table-main">
        <thead>
        <tr style="text-align: center;">
            <th># сигнала</th>
            <th>ID койки</th>
            <th>Отделение</th>
            <th>Палата</th>
            <th>Койка</th>
            <th>Время</th>
            <th colspan="2">Статус</th>
        </tr>
        </thead>
		<tbody class="calls">
        {% for alarm in alarms %}
        {% if alarm.status == 'alarm' %}
        <tr>
            <td> {{ alarm.id }} </td>
            <td> {{ alarm.bed_id }} </td>
            <td> {{ alarm.bed.ward.branch.name }} </td>
            <td> {{ alarm.bed.ward.name }} </td>
            <td> {{ alarm.bed.name }} </td>
            <td> {{ alarm.datetime.strftime('%Y-%m-%d %H:%M:%S') }} </td>
            <td style="color:red; font-weight: bold;"> Тревога! </td>
            <!--<td><button type="button" onclick="process({{alarm.id}});">Ready</button></td>-->
			<td onclick="process( {{ alarm.id }} );"><p class="ready-btn">✔</p></td> 
        </tr>
        {% endif %}
        {% endfor %}
		</tbody>
    </table>
	</div>
<hr>

<span onclick="action('Update')" class="done-display-link">Обновить</span>	
<span onclick="action('Done')" class="done-display-link">Очистить</span> 

<!-- <form action="" method="post" novalidate>
    <input type="submit" name="action" value="Update">
    <input type="submit" name="action" value="Done">
</form> -->
<a class="done-display-link" href="/done_display">Выполненные вызовы</a>
</div>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<!--<script>
    setTimeout(function() {
        location.reload();
    }, 3500);
</script> -->
<script>
    function process(index) {
        $.post("", {'index': index}, () => {
        location.reload()
        });
    };
</script>
<script>
	function action(value) {
		$.post("",{'action':  value}, () => {
			location.reload()
		});
	};
</script>
<script>
	/*
	fetch('/api/get/current_calls')
		.then(response => response.json())
		.then(commits => console.log(commits));
	*/
	const calls = document.querySelector('.calls');
	let test = document.createElement('td');
	async function smth() {
		let response = await fetch('/api/get/current_calls');
		let json = await response.json();
		for (obj in json){
			let tr = document.createElement('tr');
			for (key in obj) {
				let td = document.createElement('td');
				td.innerHTML = obj[key];
				console.log(td);
				tr.appendChild(td);
			}
			let tbody = document.querySelector('.calls');
			tbody.appendChild(tr);
		}
		console.log(json);
	}
	smth();
	calls.append(test);
		
</script>

{% endblock %}